<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.radiance.ai.assistant.mapper.AsstExamDimensionMapper">

    <resultMap id="BaseResultMap" type="com.radiance.ai.assistant.domain.dos.AsstExamDimensionDO">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="dimension" property="dimension"/>
        <result column="first_classification" property="firstClassification"/>
        <result column="second_classification" property="secondClassification"/>
        <result column="core_field_recall" property="coreFieldRecall"/>
        <result column="data_status" property="dataStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="finish_time" property="finishTime"/>
    </resultMap>

    <sql id="base_column_list">
        id,
        type,
        dimension,
        first_classification,
        second_classification,
        core_field_recall,
        data_status,
        create_time,
        update_time,
        finish_time
    </sql>

    <!--列表查询-->
    <select id="list" resultMap="BaseResultMap"
            parameterType="com.radiance.ai.assistant.domain.query.AsstExamDimensionQuery">
        SELECT
        <include refid="base_column_list"/>
        FROM asst_exam_dimension
        <where>
            <if test="null != data.type and '' != data.type">
                AND type = #{data.type}
            </if>
            <if test="null != data.dimension and '' != data.dimension">
                AND dimension LIKE concat('%', #{data.dimension},'%')
            </if>
            <if test="null != data.firstClassification and '' != data.firstClassification">
                AND first_classification LIKE concat('%', #{data.firstClassification},'%')
            </if>
            <if test="null != data.secondClassification and '' != data.secondClassification">
                AND second_classification = #{data.secondClassification}
            </if>
            <if test="null != data.coreFieldRecall and '' != data.coreFieldRecall">
                AND core_field_recall = #{data.coreFieldRecall}
            </if>
            <if test="null != data.dataStatus">
                AND data_status = #{data.dataStatus}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!--批量新增-->
    <insert id="insertBatch" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.radiance.ai.assistant.domain.dos.AsstExamDimensionDO">
        INSERT INTO asst_exam_dimension(
            type,
            dimension,
            first_classification,
            second_classification,
            core_field_recall,
            data_status,
            create_time,
            update_time,
            finish_time
        )VALUES
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.type},
            #{item.dimension},
            #{item.firstClassification},
            #{item.secondClassification},
            #{item.coreFieldRecall},
            #{item.dataStatus},
            #{item.createTime},
            #{item.updateTime},
            #{item.finishTime}
        </foreach>
    </insert>

    <!--批量更新-->
    <update id="updateBatch" parameterType="com.radiance.ai.assistant.domain.dos.AsstExamDimensionDO">
        <foreach collection="list" item="item" separator=",">
            UPDATE asst_exam_dimension
            <set>
                <if test="null != item.type">
                    ,type = #{item.type}
                </if>
                <if test="null != item.dimension and '' != item.dimension">
                    ,dimension = #{item.dimension}
                </if>
                <if test="null != item.firstClassification and '' != item.firstClassification">
                    ,first_classification = #{item.firstClassification}
                </if>
                <if test="null != item.secondClassification and '' != item.secondClassification">
                    ,second_classification = #{item.secondClassification}
                </if>
                <if test="null != item.coreFieldRecall and '' != item.coreFieldRecall">
                    ,core_field_recall = #{item.coreFieldRecall}
                </if>
                <if test="null != item.createTime">
                    ,create_time = #{item.createTime}
                </if>
                <if test="null != item.updateTime">
                    ,update_time = #{item.updateTime}
                </if>
                <if test="null != item.finishTime">
                    ,finish_time = #{item.finishTime}
                </if>
            </set>
            <where>
                id = #{item.id}
                <if test="null != item.dataStatus">
                    AND data_status = #{item.dataStatus}
                </if>
            </where>
        </foreach>
    </update>

    <!-- 批量逻辑删除 -->
    <update id="removeBatch">
        UPDATE asst_exam_dimension
        <set>
            update_time = now(),
            finish_time = now(),
            data_status = 1
        </set>
        WHERE id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <!-- 批量物理删除 -->
    <delete id="deleteBatch">
        DELETE FROM asst_exam_dimension WHERE id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>